1. Write a program to find sum of all elements in a list of integers.
2. Input a sentence as a string.
a) Print its length
b) Print the first half of string
3. Write a program to enter a tuple of integers as
(78,45,32,19,82,77,40,39). Change the third value in the tuple to
100
4. Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
(a) Delete the first occurrence of 32
(b) Delete all occurrences of 40
(c) Delete the value at index=5
(d) Modify the value at index=9 as 300
(e) Add 200 at index=2
(f) Print the final list with its length, maximum value
and sum of all elements
5. Consider a string ”The day has been long”.
(a) Delete the value at index =4
(b) Print the string 4 times in a single line with space
between each repetition
(c) Print the string 3 times in a new line each time
(d) Modify the string at index 7 as ’A’
(e) Print the string from index 4 to 15
(f) Print the final string with its length

In [ ]:

numbers=[4,8,23,90,41,7,1,9,3]
print(sum(numbers))

186

In [ ]:
string=(input("Enter a sentence:"))
print(len(string))
half = len(string) // 2
print(string[:half])

Enter a sentence:Python is easy to learn.
24
Python is ea

In [ ]:

my_tuple=(78,45,32,19,82,77,40,39)
tuple1=list(my_tuple)
tuple1[2]=100
my_tuple=tuple(tuple1)
print(my_tuple)

(78, 45, 100, 19, 82, 77, 40, 39)

In [ ]:
A=[19,32,10,55,31,32,94,29,10,65,77,40,40]
A.remove(32)
A.pop()
A.pop(5)
A[9]=300
A.insert(2,200)
print(len(A))
print(max(A))
print(sum(A))
print(A)

11
300
828
[19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300]

In [26]:

string= "The day has been long"
delete=string[:4] + string[5:]
print(delete)
print(((string +" ")*4).strip())
print((string +"\n ")*3)
modify=string[:8] + "A" + string[9:]
print(modify)
print(string[4:16])
print(len(string))

The ay has been long
The day has been long The day has been long The day has been long The day has been long
The day has been long
 The day has been long
 The day has been long

The day Aas been long
day has been
21